<div class="container">
  <div class="row  border border-info" *ngFor="let post of posts">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <header class="">
            <div class="comment-user"><i class="fa fa-user"></i> {{post._creator.username}}</div>
            <time class="comment-date" datetime=""><i class="fa fa-clock-o"></i> {{post.createdAt}}</time>
          </header>
          <hr>
          <div class="comment-post">
            <p class="post-title">{{post.title}}</p>
            <p class="post-text">{{post.text}}</p>
          </div>
          <!--<div class="textBox">
            <div class="input-group">
                <input type="text" class="form-control input-xs chat-input" name="" id="" placeholder="add your comment">
                <p class="text-right comment-btn"><button class="btn btn-info btn-sm"><i class=""></i> comment</button></p> 
            </div>
          </div>-->
          <div class="input-group">
              <input type="text" class="form-control" id ="{{post._id}}" placeholder="add your comment">
              <span class="input-group-btn">
                   <button class="btn btn-info" type="button" (click)="addComment(post._id)"><i>comment</i></button>
              </span>
           </div>
          </div>
        </div>
      </div>
      <div *ngIf="post._comments !== ''" class="col-md-12 comment-section">
          <hr>
          <div class="panel panel-primary">
            <div class="panel-body" *ngFor="let comment of post._comments">
                <div class="clearfix"><blockquote *ngIf="post.currentUsername === comment._creator.username" class="me"><p class="pull-left">{{comment._creator.username}}</p><p>: {{comment.text}}</p></blockquote></div>
                <div class="clearfix"><blockquote *ngIf="post.currentUsername !== comment._creator.username" class="others"><p class="pull-left">{{comment._creator.username}}</p><p>: {{comment.text}}</p></blockquote></div>
            </div>
          </div>
      </div>
  </div>
  <div class="row textBox">
    <div class="input-group">
      <input type="text" id="userPostTitle" class="form-control input-sm chat-input" placeholder="Write your post title here..." />
      <input type="text" id="userPostText" class="form-control input-sm chat-input" placeholder="Write your post here..." />
      <span class="input-group-btn" (click)="addPost($event)">     
          <button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-comment"></span> Add Post</button>
      </span>
  </div>
  </div>
</div>